POSTGRES_DB=lunek_saas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/lunek_saas?schema=public"
API_PORT=4000
WEB_URL="http://localhost:3000"
